#konami {
    display: none;
}

#doom {
    display: none;
}

#gta {
    display: none;
}

body {
    background-image: url("../img/gamer.jpg");
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3{
    color: #FFFFFF;
    background-color: rgba(43, 45, 47, 0.3);
}

#cheater {
    background-color: #000;
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: #66FF66;
    border-radius: 10px;
    padding: 0 10px;
}

#sub-initial {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #FFFFFF;
    font-size: 40px;
    width: 100%;
    height: 100%;
}

#initial-button {
    font-size: 16px;
}
