.nav-pills .nav-link.active {
    background-color: #fe6700;
}

.nav-link:hover {
    color: #66FF66;
}

body {
    background-image: url("../img/map-background.jpg");
    background-size: cover;
    color: #FFF;
}

